<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form (ngSubmit)="onRegister()">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input [(ngModel)]="nombre" name="nombre" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Apellido Paterno</ion-label>
            <ion-input [(ngModel)]="apellidoPaterno" name="apellidoPaterno" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Apellido Materno</ion-label>
            <ion-input [(ngModel)]="apellidoMaterno" name="apellidoMaterno" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">RUT</ion-label>
            <ion-input [(ngModel)]="rut" name="rut" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Equipo</ion-label>
            <ion-select [(ngModel)]="equipo" name="equipo" required>
              <ion-select-option *ngFor="let equipo of equipos" [value]="equipo.nombre">{{ equipo.nombre }}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-button expand="full" type="submit">Registrarse</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
