<ion-header>
  <ion-toolbar>
    <ion-title>Información del Jugador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6" size-lg="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ jugador?.nombre }} {{ jugador?.apellidoPaterno }} {{ jugador?.apellidoMaterno }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>RUT: {{ jugador?.rut }}</p>
            <p>Goles: {{ jugador?.goles }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
