/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

ion-app, ion-content {
  --background: url('/assets/img/fondo3.webp') no-repeat center center / cover;
}

ion-card {
  background: rgb(196, 253, 234);
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade un poco de sombra para el relieve */
}

h2 {
  color: black;
}

:root {
  --ion-color-primary: #20FFA3;
  --ion-color-primary-rgb: 32, 255, 163;
  --ion-color-primary-contrast: #000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #1ED789;
  --ion-color-primary-tint: #24FFAA;
  
  --ion-background-color: #f8f9fa;
  --ion-text-color: #000;
}

ion-card {
  background: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
}

ion-card-header {
  background: var(--ion-color-primary-shade);
}

ion-card-title, ion-card-content, ion-label {
  color: var(--ion-color-primary-contrast);
}